:root {
  --Dark-blue: rgb(0, 0, 65);
  --Light-purple: #c4b5fd;
  --Coral-red: #f94f6d;
  --Coral-green: #6ee7b7;
  --Baby-blue: #9aabd8;
  --Baby-purple: #a78bfa;
  --Black-one: #080001;
  --White-one: #eeeeee;
}
